.i-HeadTitle {
  font-size: 600%;
  font-family: Verdana;
  text-align: center;
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 4%;
  color: #36D433;
}

#i-PageLink {
  color: #36D433;
  text-decoration: none;
}

body {
  background-image: url("backgroundImg.png");
  background-repeat: repeat;
  width: auto;
  margin-bottom: 2%;
}

.i-MainContent {
  text-align: center;
}

.i-contentLine {
  color: white;
  font-family: Arial;
  font-size: 150%;
  padding: 1%;
}

.i-NavBar {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 150%;
  font-family: Verdana;
  color: white;
}

.i-NavBar a {
  color: white;
  text-decoration: none;
}

.i-NavBar a:hover {
  color: #36D433;
}

.a-HeadTitle, .yr-HeadTitle {
  font-size: 600%;
  font-family: Verdana;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 5%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 3%;
  color: #36D433;
  background-color: rgba(52, 52, 52, 0.8);
}

.a-MainContent, .yr-MainContent {
  display: flex;
  flex-flow: column wrap;
  font-family: Verdana;
  color: white;
  margin-left: 4%;
  margin-right: 4%;
  padding: 1% 5% 1% 5%;
  background-color: rgba(52, 52, 52, 0.8);
}

.mc-Subtitle {
  letter-spacing: 2px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: white 1px solid;
  font-size: 200%;
}

.sub-Content {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 2.0em;
  font-size: 120%;
}

.sub-Citation {
  align-self: flex-end;
}

.a-IndexLink img {
  position: fixed;
  margin-top: -2%;
  padding-left: 1%;
  padding-top: 1%;
  width: 60px;
}

.a-IndexLink img:hover {
  width: 70px;
}

.a-NavBar {
  margin-left: 5%;
  margin-bottom: 3%;
}

.a-NavBar a {
  font-family: Verdana;
  font-size: 120%;
  color: #36D433;
  text-decoration: none;
}

.a-NavBar a:hover {
  font-weight: bold;
}

.yr-IndexLink img {
  position: fixed;
  margin-top: -2%;
  padding-left: 1%;
  padding-top: 1%;
  width: 60px;
}

.yr-IndexLink img:hover {
  width: 70px;
}
